*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
/* header style*/
.flex-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding: 10px 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;/************************************/
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-left: 25px;
}
.user-icon{
    width: 35px;
    border-radius: 50%;
}
.nav-left .munu-icon{
    width: 25px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}

.nav-middel .mic-icon{
    width: 16px;
}
.nav-middel .search-box{
    border:1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
.search-box input{
    width: 100%;
    padding: 0 14px;
    border: none;
    outline: none;
    background-color: transparent;
}
.search-box img{
    width:15px ;
}
/* header style end */

/*sidebar start */

.sidebar{
    background-color: #fff;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 2%; 
    padding-top: 80px;
}
.shortcut-links a{
    display: flex;
    /* justify-content: center;  */
     align-items: center;
    flex-wrap: wrap;
    /* width: fit-content; */
    margin-bottom: 20px;
}

.shortcut-links a img {
    width: 20px;
    margin-right:20px ;
}
.shortcut-links a:first-child{
    color: #ed3833;
}
.shortcut-links a:hover{
 color: #e66f6b;
}
.sidebar hr{
    border: 0;
    height: 1px; 
    background-color: #ccc;
    width: 85%;
     
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* width: fit-content; */
}
.subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right:20px ;
}
.subscribed-list a:hover{
    color: #e66f6b;
   }

   /* sidebar end */

   /*containe start*/

   .container{
       background-color: #f9f9f9;
       padding:20px 2% 20px 17% ;
   }
   .banner{
       width: 100%;  
   }
   .banner img{
       width: 100%;
       height: 300px;
       border-radius: 8px;
   }
   .list-container{
       margin-top: 15px;
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
       grid-column-gap:16px; 
       grid-row-gap:30px ;

       /* display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap; */
   }
   .vid-list{
       width: 100%;
       /* width: 24.1%; 
       margin-right: 10px; 
       margin-top: 15px; */
   }
   
   .vid-list .thumbnail{
       width: 100%;
       border-radius: 5px;
   }
   .vid-list .flex-div{
       align-items: flex-start;
       margin-top: 7px;
   }
   .vid-list .flex-div img{
       width: 35px;
       margin-right: 10px;
       border-radius: 50%;
   }
   .vid-info{
       color: #5a5a5a;
       font-size: 13px;
       /* width: 250px; */
   }
   .vid-info a{
       color: #000;
       font-weight: 600;
       display: block;
       margin-bottom: 5px;
   }
   

   @media (max-width:900px){
       .menu-icon{
           display: none;
       }
       .sidebar{
           display: none;
       }
       .nav-right img{
           display: none;
       }
       .nav-right .uesr-icon{
           display: block;
           width: 30px;
       }
       .container{
           padding-left: 5%;
           padding-right: 5%;
       }
       .nav-middel{
        width: 250px;
    }
       .nav-middel .search-box input{
           width: 100px;
       }
       .nav-middle .mic-icon{
           display: none;
       }
       .logo{
           width: 90px;
       }
   }
   @media (max-width:650px){
       .nav-middel{
           width: 150px;
       }
   }